@font-face{
  font-family: 'SF-Pro';
  src: url("../assets/SF-Pro.OTF") format("opentype");
  font-style: normal;
  font-weight: normal;
}

.hide-buildings-button{
  background-color: #007BFF;
  border-radius: 4.8px;
  text-align: center;
  width: 75vw;
  height: 5vh;
  border-width: 0px;
}

.hide-buildings-button:hover{
  cursor: pointer;
}

.hide-buildings-button-text{
  color: white;
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight:lighter;
  font-size: 100%;
}
